<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"></a>
    <%= link_to "VOICE OF VOTES 2023", root_path, class: 'navbar-brand' %>
    <form class="d-flex hidden" role="search">
      
      
      <% if current_user %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
           <% else %>
          <%= link_to "Sign in", new_user_session_path, class:'btn btn-dark' %>
          <% end %>
    </form>
  </div>
</nav>




